
@main("Home"){
<div  ng-cloak ng-controller="maincontroller" >

    @header()



            <div class="">
    <div class="col-lg-2">


        </div>
    <div class="col-lg-8" style = "height:100%">

        <div class="" style = "height:100%; text-align:left">
            <br><Br>

            <div style="text-align:center">
                <h1>La chalitte Business</h1>
            </div>

            <p>
        <form class="" role="search" style = "width:100%;">
            <div>
                <div class="input-group">
                    <span class="input-group-addon" style="font-weight:bold; font-size:20px; padding:0px"></span><input ng-model="search" type="text" class="form-control" placeholder="Search for services" style = "height:50px">
                    <span class = "input-group-btn">

                        <button type="submit" ng-click="startsearch = true" class="btn btn-primary" style = "font-weight:bold; font-size:20px; height:50px">Search</button>
                    </span>
                </div>

            </div>
        </form>



            <ul class="list-group" >

                <div class="col-lg-3" style="margin:0px; padding:5px;" >
                    <a href=""  style="font-weight:bold; background:whitesmoke" class="list-group-item">
                            Eucl <span class="badge">1</span>

                        </a>

                    <li class="list-group-item" style="height:200px; padding:2px">


                        <ul class="list-group" style="">

                            <a style="background-color: red;color: white"  href="/provider/EUCL" class="list-group-item">Pay electricity</a>

                        </ul>


                    </li>
                </div>


            </ul>








        </div>

    </div>

    <div class="col-lg-2">

        </div>

</div>

               <div style="clear:both"></div>


</div>
}