@(message: String)

@mainLogin("Login page") {

    <div class="wrapper" >
        <div class="row">

                <div class="col-lg-4">&nbsp;</div>
                <div class="col-lg-4">
                    <div class="container" >
                        <h1>User Login</h1>

                        <form class="form"  action="">
                            <input type="text" placeholder="Username">
                            <input type="password" placeholder="Password">
                            <button type="submit"  >Login</button>

                        </form>
                    </div>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-4">&nbsp;</div>
            </div>




    </div>


}
