<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu" href="main.php"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>


            <li>
                <a href="#"><i class="fa fa-sitemap"></i> Settings<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li>
                        <a href="#">Ground</a>
                    </li>
                    <li>
                        <a href="#">Phase</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap"></i>Reports<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Team Report<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="table.html">Staff</a>
                            </li>
                            <li>
                                <a href="#">Player</a>
                            </li>
                            <li>
                                <a href="#">Sponsor</a>
                            </li>
                            <li>
                                <a href="#">Coach</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">Match Report<span class="fa arrow"></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Fixture</a>
                            </li>
                            <li>
                                <a href="#">By Phase</a>
                            </li>
                            <li>
                                <a href="#">By Ground</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">Results Report<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">By Match</a>
                            </li>
                            <li>
                                <a href="#">By Phase</a>
                            </li>
                            <li>
                                <a href="#">General Phase</a>
                            </li>

                        </ul>

                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> Users<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Users</a>
                    </li>
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>

                </ul>
            </li>

        </ul>

    </div>

</nav>
    <!-- /. NAV SIDE  -->